// ==================
// === Typography ===
// ==================

// --- Custom Fonts ---

@font-face {
  font-family: "Fira Sans Compressed Light";
  src: url('/assets/fonts/FiraSansCompressed-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Fira Sans Compressed Regular";
  src: url('/assets/fonts/FiraSansCompressed-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

// --- Global Typography Styles ---

// Root font-size
:root, body {
  font-size: 20px;
  font-family: "Fira Sans Compressed Light", sans-serif;
  color: $color-sec;
  
  
  // --- Tablet and up ---
  @include breakpoints(tablet-portrait-up){
    font-size: 24px;
  }

  // --- Desktop and up ---
  @include breakpoints(desktop-up){
    font-size: 25px;
  }
}

// Headings
h2, h3, h4, h5, h6 {
  font-family: "Fira Sans Compressed Regular";
  font-weight: bold;
  line-height: 1em;
}

h2 {
  font-size: 2.1rem;
  color: #ffffff;
  margin-bottom: 0.3em;
}

h3 {
  font-size: 1.4rem;
  color: $color-prim;
  margin-bottom: 0.3em;
}

h4, h5, h6 {
  font-size: 1.2rem;
  color: $color-light-gray;
  margin-bottom: 0.3em;
}

// Misc text elements
p {
  margin-bottom: 1.4em;
}

p, a, li, b, i {
  line-height: 1.3em;
}

b {
  font-weight: bold;
}

// Lists 
ul, ol {
  margin-bottom: 1.4em;
  //width: max-content;
  text-align: left;
  padding-left: 1em;

}

li {
  width: 100%;
  margin-bottom: .2em;
}

// Anchors
a {
text-decoration: none;
color: $color-prim;
font-size: 1rem;

  &:hover, &:active, &:focus {
    color: $color-prim-lighter;
    text-decoration: underline;
  }
}

// Utility classes
.section-title {
  text-align: center;
}