// =================
// === Variables ===
// =================


// --- Colors ---

$color-prim: #fc6b7f;
$color-prim-lighter: #fc909f;
$color-sec: #f4f4f4;
$color-dark:  #374851;
$color-light-gray: #b3b3b3;