<!-- Project mockups -->
<section class="project-mockups">

  <div class="project-mockups-grid">
    <picture>
      <source media="(max-width: 1199px)"
        srcset="/assets/img/project-img/{{ page.project-id }}/{{ page.project-id }}--project-mockup-smartphone--smartphone.webp">
      <source media="(max-width: 1199px)"
        srcset="/assets/img/project-img/{{ page.project-id }}/{{ page.project-id }}--project-mockup-tablet--smartphone.webp">
      <source media="(max-width: 1199px)"
        srcset="/assets/img/project-img/{{ page.project-id }}/{{ page.project-id }}--project-mockup-desktop--smartphone.webp">
      <img src="" alt="{{ page.title }} smartphone mockup" class="project-mockup-image">
    </picture>

    <picture>
      <source media="(max-width: 1199px)"
        srcset="/assets/img/project-img/{{ page.project-id }}/{{ page.project-id }}--project-mockup-smartphone--tablet.webp">
      <source media="(max-width: 1199px)"
        srcset="/assets/img/project-img/{{ page.project-id }}/{{ page.project-id }}--project-mockup-tablet--tablet.webp">
      <source media="(max-width: 1199px)"
        srcset="/assets/img/project-img/{{ page.project-id }}/{{ page.project-id }}--project-mockup-desktop--tablet.webp">
      <img src="" alt="{{ page.title }} tablet mockup" class="project-mockup-image">
    </picture>

    <picture>
      <source media="(max-width: 1199px)"
        srcset="/assets/img/project-img/{{ page.project-id }}/{{ page.project-id }}--project-mockup-smartphone--desktop.webp">
      <source media="(max-width: 1199px)"
        srcset="/assets/img/project-img/{{ page.project-id }}/{{ page.project-id }}--project-mockup-tablet--desktop.webp">
      <source media="(max-width: 1199px)"
        srcset="/assets/img/project-img/{{ page.project-id }}/{{ page.project-id }}--project-mockup-desktop--desktop.webp">
      <img src="" alt="{{ page.title }} desktop mockup" class="project-mockup-image">
    </picture>
  </div>

</section>