<!-- Contact Section -->

<div class="section-wraper">
  <section id="contact" class="contact-section section">

    <div class="contact-methods">
      
      <h2 class="section-title">Let's talk</h2>
      <p class="contact-email">{{ site.email }}</p>

      <div class="online-services">
        <a class="online-services-item" title="GitHub" href="{{ site.social.github }}">
          <img src="/assets/img/online-services/github-icon.svg" alt="GitHub">
        </a>
        <a class="online-services-item" title="Fiverr" href="{{ site.social.fiverr }}">
          <img src="/assets/img/online-services/fiverr-icon.svg" alt="Fiverr">
        </a>
        <a class="online-services-item" title="LinkedIn" href="{{ site.social.linkedin }}">
          <img src="/assets/img/online-services/linkedin-icon.svg" alt="LinkedIn">
        </a>
      </div>

    </div>

    <form class="contact-form" name="Contact Form" data-netlify="true" action="/contact/success.html" method="post">
      <input type="text" name="name" required placeholder="What's your name?">
      <input type="email" name="email" required placeholder="Your e-mail?">
      <textarea name="message" rows="8" required placeholder="Tell me about your project..."></textarea>
      <label class="checkbox-label">
        <input type="checkbox" required>
        <span class="checkbox"></span>
        I agree with the <a href="/privacy-policy.html" target="_blank">Privacy Policy</a> &amp; <a href="/terms-and-conditions.html" target="_blank">Terms and Conditions</a>
      </label>
      <input type="submit" value="Send" class="button">
    </form>

  </section>
</div>