<!-- Contact Section -->

<div class="section-wraper">
  <section id="contact" class="contact-section section">

    <div class="contact-methods">
      
      <h1 class="section-title">Let's talk</h1>
      <p class="contact-email">martin.dimi.dev@yandex.com</p>

      <div class="online-services">
        <a class="online-services-item" title="GitHub" href="">
          <img src="/assets/img/online-services/github-icon.svg" alt="GitHub">
        </a>
        <a class="online-services-item" title="Fiverr" href="">
          <img src="/assets/img/online-services/fiverr-icon.svg" alt="Fiverr">
        </a>
        <a class="online-services-item" title="LinkedIn" href="">
          <img src="/assets/img/online-services/linkedin-icon.svg" alt="LinkedIn">
        </a>
        <a class="online-services-item" title="Deviantart" href="">
          <img src="/assets/img/online-services/deviantart-icon.svg" alt="DeviantArt">
        </a>
      </div>

    </div>

    <form class="contact-form" action="" method="post">
      <input type="text" name="name" placeholder="What's your name?">
      <input type="email" name="email" placeholder="Your e-mail?">
      <textarea name="message" rows="8" placeholder="Tell me about your project..."></textarea>
      <input type="submit" value="Send" class="button">
    </form>

  </section>
</div>