<!--- About me Section --->

<div class="section-wrapper">
  <section id="about-me" class="about-section section">
    
    <article class="bio">
      <img src="/assets/img/martindimi-profile.png" alt="Martin Dimitrov" class="bio-image">
      <div class="bio-text">
        <h1 class="section-title">Hi! I'm Martin</h1>
        <h2>Welcome to my porfolio</h2>
        <p>
          My name is <b>Martin Dimitrov</b> and i'm self taught web and
          graphics designer. I'm from Bulgaria born in 1998, but i'm curently
          located in Greece.
        </p>
      </div>
    </article>

    <article class="skills-tools">
      <h2 class="section-title">Skils &amp; Tools</h2>

      <div class="skills-tools-category">
        <h3 class="skills-tools-category-title">Front-end Development</h3>
        <div class="skills-tools-icons">
          <img src="/assets/img/devicon/html5.svg" alt="HTML" class="skills-tools-icon">
          <img src="/assets/img/devicon/css3.svg" alt="CSS" class="skills-tools-icon">
          <img src="/assets/img/devicon/sass.svg" alt="SASS" class="skills-tools-icon">
          <img src="/assets/img/devicon/javascript.svg" alt="Javascript" class="skills-tools-icon">
        </div>
      </div>

      <div class="skills-tools-category">
        <h3 class="skills-tools-category-title">Graphics Design</h3>
        <div class="skills-tools-icons">
          <img src="/assets/img/devicon/photoshop.svg" alt="Photoshop" class="skills-tools-icon">
          <img src="/assets/img/devicon/illustrator.svg" alt="Illustrator" class="skills-tools-icon">
        </div>
      </div>

      <div class="skills-tools-category">
        <h3 class="skills-tools-category-title">Tools</h3>
        <div class="skills-tools-icons">
          <img src="/assets/img/devicon/atom.svg" alt="Atom" class="skills-tools-icon">
          <img src="/assets/img/devicon/git.svg" alt="Git" class="skills-tools-icon">
          <img src="/assets/img/devicon/firefox.svg" alt="Firefox" class="skills-tools-icon">
        </div>
      </div>
    </article>

  </section>
</div>