// ===============
// === Buttons ===
// ===============

.button {
  font-size: 1.6em;
  padding: 0.2em .6em;
  text-align: center;
  width: 100%;
  background: $color-prim;
  color: $color-sec;
  cursor: pointer;
  transition: 0.1s ease;
  
  border: none; // Remove border from input buttons

  &:hover {
    text-decoration: none; // Remove underline from anchor buttons on hover
    background: $color-sec;
    color: $color-prim;
  }

  // --- Tablet portrait and up ---
  @include breakpoints(tablet-portrait-up){
    padding: 0.2em 1.4em;
    width: auto;
  }
}