// ============================
// === Project Entries Grid ===
// ============================

.project-entries-grid {
  display: flex;
  flex-direction: column;

  // --- Tablet portrait and up ---
  @include breakpoints(tablet-portrait-up){
    display: grid;
    grid-template-columns: 50% 50%;
  }
}