// =====================
// === Project Entry ===
// =====================

.project-entry {
  position: relative;
  min-height: 200px;

  // Entry image
  &-img {
    display: block;
    width: 100%;
    height: 100%;
  }

  // Entry title and links container
  &-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    background-color: rgba(0,0,0, .75);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 16px;

    // --- Tablet landscape and up ---
    @include breakpoints(tablet-landscape-up) {
      padding: 32px;
    }
  }
  
  // Entry title
  &-title {
    color: $color-sec;
    padding: 0 0.1em 0.2em 0.1em;
    border-bottom: 1px solid $color-sec;
    
    @include breakpoints(tablet-landscape-up) {
      font-size: 1.6em;
    }
  }

  // Entry links container
  &-links {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    @media screen and (min-width: 1100px) {
      flex-direction: row;
    }
  }

  // Entry link
  &-link {
    font-size: 1.3em;
    display: block;

    @media screen and (min-width: 1100px) {
      width: 50%;
      text-align: center;
    }

    // Entry link icon 
    .project-entry-link-icon {
      width: .8em;
      height: .8em;
      margin-right: .4em;
    }
  }
}

// More projects entry link
.more-projects-entry {
  background-color: $color-prim;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &-title, &-title:hover{
    font-size: 1.8em;
    color: $color-sec;
  }

  // --- smartphone only ---
  @include breakpoints(smartphone-only) {
    height: 150px;
  }

  // --- Tablet and up ---
  @include breakpoints(tablet-portrait-up) {

    &:nth-child(odd) {
      grid-column: 1 / 3;
      height: 150px;
    }
  }
}