// ===================
// === Page Footer ===
// ===================

.page-footer {
  display: flex;
  flex-direction: row;
}

// Wrapper for set of links
.footer-links {
  margin: 0 16px; // Adding margin between the links wrappers
  list-style: none;
  text-align: left;
  padding: 0; // Remove the default ul padding

  // --- Tablet portrait and up ---
  @include breakpoints(tablet-portrait-up) {
    margin: 0 32px;
  }

  &:first-child {
    margin: 0; // Removing the margin from the first item so it doesn't stack up with the .section padding
  }
}

// Footer link
.footer-link {

  a {
    font-size: 1.1em;
    line-height: 1.4em;
  }
}
