<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }} | {{ page.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <link rel="author" href="humans.txt">

  <meta name="yandex-verification" content="83ee8782b4fee935">

  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="icon" href="/assets/img/mdesign-icon.svg" sizes="any">
</head>

<body>

  <div class="site-wrapper">
    {{ content }}
  </div>

</body>

</html>