<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="author" href="humans.txt">
  
  {% seo %}

  <!-- Yandex.Metrika counter -->
  <script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(70835752, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
    });
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/70835752" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->

  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="icon" href="/assets/img/mdesign-icon.svg" sizes="any">
</head>

<body>

  <div class="site-wrapper">
    {{ content }}
  </div>

  <!-- Scripts -->
  <script src="https://kit.fontawesome.com/e2dc84427c.js" crossorigin="anonymous"></script>
</body>

</html>