---
layout: default
---

<div class="section-wrapper">
  <article class="section project project-{{ page.category }}">
    
    <!-- Project Image -->
    <picture>
      <source media="(max-width: 1199px)"
        srcset="/assets/img/project-img/{{ page.project-id }}/{{ page.project-id }}--project-page--mobile.webp">
      <source media="(min-width: 1200px)"
        srcset="/assets/img/project-img/{{ page.project-id }}/{{ page.project-id }}--project-page--desktop.webp">
      <img src="" alt="{{ post.title }} image" class="project-image">
    </picture>

    <!-- Project About Section -->
    <div class="project-about project-section">
      <h2 class="project-title">{{ page.title }}</h2>

      <!-- Project links -->
      <div class="project-links">
        {% if page.project-location != "" %}
        <a href="{{ page.project-location }}" target="_blank" class="project-link">
          <i class="fas fa-share-square project-link-icon"></i>Visit
        </a>
        {% endif %}
      
        {% if page.project-source != "" %}
        <a href="{{ page.project-source }}" target="_blank" class="project-link">
          <i class="fas fa-file-code project-link-icon"></i>Source
        </a>
        {% endif %}
      </div>

      <div class="project-summary">
        {{ content }}
      </div>
    </div>

    
    {% if page.category == "website" %}

    <!-- Tools used in project -->
    <div class="project-tools project-section">
      <h3>Tools</h3>

      <div class="project-tools-icons">
        {% for tool in page.project-tools %}
        <img 
          src="{{ site.data.tools[tool].image }}" 
          alt="{{ site.data.tools[tool].display-name }} icon" 
          title="{{ site.data.tools[tool].display-name }}" 
        class="project-tool-icon">
        {% endfor %}
      </div>
    </div>
        
    <!-- Project Color Palete -->
    <div class="project-colors project-section">
      <h3>Color palete</h3>

      <div class="project-colors-container">
        {% for color in page.colors %}
        <div class="project-color-item" style="background-color: {{ color }};"></div>
        {% endfor %}
      </div>
    </div>

    {% include component-project-mockups.html %}
    
    {% endif %}

    {% if page.category == "graphics" %}
    <section class="project-gallery project-section">

      <div class="project-gallery-grid">
      {% for count in (1..page.project-gallery-images) %}
        <img src="/assets/img/project-img/{{page.project-id}}/{{page.project-id}}--gallery-{{count}}.webp" 
        alt="{{page.title}} {{count}}" 
        class="project-gallery-image">
      {% endfor %}
      </div>
    </section>
    {% endif %}

  </article>
</div>